:root {
  --blue: 195;
  --pink: 310;
  --yellow: 48;
  --body: hsl(var(--blue) 10 28);
  --stroke: hsl(var(--blue) 10 76);
}

@font-face {
  font-family: 'Capsules';
  src: url('/CapsulesVF.woff2') format('woff2') tech('variations');
  font-weight: 100 700;
}

body {
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  background: #eeeeee;
  color: var(--body);
  font-size: 1.1rem;
}

h1 {
  font-size: 3.6rem;
}

h1, h2, h3, h4, h5, h6, th {
  color: hsl(var(--blue) 10 18);
}

h1, h2, h3, h4, h5, h6 {
  margin-top: 48px;
}

a, a:visited {
  color: var(--body);
}

a:hover {
  opacity: .7;
}

.container {
  margin: 0 auto;
  padding: 16px;
  max-width: 800px;
}

table {
  font-family: 'Roboto Mono', monospace;
  font-size: 0.85rem;
  border-collapse: collapse;
  max-width: 100%;
  overflow: auto;
  display: block;
}

td, th {
  border: 1px solid var(--stroke);
  margin: 0px;
  padding: 8px;
  text-align: left;
  vertical-align: top;
}

td {
  color: var(--body);
}

code {
  font-family: 'Roboto Mono', monospace;
  display: inline-block;
  font-size: 0.85rem;
  background: hsl(var(--blue) 80 94);
  color: hsl(var(--blue) 100 30);
  padding: 0px 4px;
  border-radius: 4px;
  user-select: all;
  white-space: pre;
}

.good, .warn, .danger {
  font-family: 'Roboto Mono', monospace;
  font-size: 0.85rem;
  width: 100%;
  display: block;
  padding: 1px 4px;
  box-sizing: border-box;
}

.good {
  color: limegreen;
}

.warn {
  color: orange;
}

.danger {
  color: red;
}

td > code {
  background: none;
  padding: 0px;
}

blockquote {
  margin: 16px 0px;
}

blockquote > p {
  margin: 0px;
  padding: 8px;
  background: hsl(var(--pink) 100 96);
  color: hsl(var(--pink) 100 30);
  border-radius: 4px;
}

blockquote > p > code {
  background: hsl(var(--pink) 100 96);
}

hr {
  height: 1px;
  background: var(--stroke);
  font-size: 0;
  border: 0;
  margin: 48px 0px;
}